<h1>Capco Table</h1>
<table>
  <tr>
    <td *ngFor="let header of sampleKeys">
      {{header}}
    </td>
  </tr>
</table>
<div>
  <table>
    <tr *ngFor="let sample of displaySampleList">
      <td *ngFor="let data of sampleKeys">
        {{sample[data]}}
      </td>
    </tr>
  </table>
</div>