<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    This is Gerald's {{ title }}!
  </h1>
</div>
<hr>
<ul>
  <li>
    <h2><a routerLink="table-primary">Primary Capco Table</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
